---
BasedOnStyle: Chromium

BreakBeforeBraces: Custom
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Empty
MaxEmptyLinesToKeep: 2
BreakConstructorInitializersBeforeComma: true

# Control of individual brace wrapping cases
BraceWrapping: {
    AfterClass: 'true'
    AfterControlStatement: 'true'
    AfterEnum : 'true'
    AfterFunction : 'true'
    AfterNamespace : 'false'
    AfterStruct : 'true'
    AfterUnion : 'true'
    BeforeCatch : 'true'
    BeforeElse : 'true'
    IndentBraces : 'false'
}

AccessModifierOffset: '-4'
ColumnLimit: '125'
SortIncludes: 'false'
Standard: Cpp11
TabWidth: '4'
IndentWidth: '4'
UseTab: ForIndentation
NamespaceIndentation: All
CompactNamespaces: 'true'

MacroBlockBegin: ^TG_BEGIN_DATADESC|^TG_ENUM$|^TG_BEGIN_EXPORT|^TG_CLASS_METHOD$
MacroBlockEnd: ^TG_END_DATADESC|^TG_ENUM_END|^TG_END_EXPORT|^TG_CLASS_METHOD_END

...
